<header> 
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <list><a href="/authors">Authors</a></list>
            <list><a href="/authors/new">Add Author</a></list>
        </ul>
    </nav>
</header>